@model MvcFirmaCagri.Models.Entitiy.tblFirmalar
@{
    ViewBag.Title = "ProfilDuzenle";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

<h2>Firma Profil Düzenleme Sayfası</h2>
<br />
@using (Html.BeginForm("ProfilGuncelle", "Default", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.ID)
    <br />
    @Html.Label("Firma Adı")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.Label("Yetkili")
    @Html.TextBoxFor(x => x.Yetkili, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.PasswordFor(x => x.Sifre, new { @class = "form-control", @id = "passwordInput" })
    <button type="button" id="showPasswordBtn" onclick="togglePassword()">Şifreyi Göster</button>
    <br />
    @Html.Label("Sektör")
    @Html.TextBoxFor(x => x.Sektor, new { @class = "form-control" })
    <br />
    @Html.Label("İl")
    @Html.TextBoxFor(x => x.İl, new { @class = "form-control" })
    <br />
    @Html.Label("İlçe")
    @Html.TextBoxFor(x => x.İlce, new { @class = "form-control" })
    <br />
    @Html.Label("Adres")
    @Html.TextAreaFor(x => x.Adres, 10, 4, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Değişiklikleri Kaydet</button>
}

<script>
    function togglePassword() {
        var passwordInput = document.getElementById("passwordInput");
        var showPasswordBtn = document.getElementById("showPasswordBtn");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            showPasswordBtn.textContent = "Şifreyi Gizle";
        } else {
            passwordInput.type = "password";
            showPasswordBtn.textContent = "Şifreyi Göster";
        }
    }
</script>
